<h1> About Me </h1>
<p> I’m a former event organizer/studio manager turned web developer.  What started out as a couple free courses has turned into an unquenchable thirst to learn as much as possible. I have found coding to be an incredibly satisfying intersection between logic, order, and creativity, and I’ve never looked back since. </p>

<p> With programming, I value clean, concise, understandable code and am always looking to learn new ways to solve problems. I am seeking opportunities that allow me to grow as a developer, contribute to a community, and help build beautiful and meaningful things. </p>

<p> In my spare time you’ll likely find me swing dancing, organizing my life through a series of to-do lists, or looking at adorable pictures of kittens. </p>