<h1> Let's Keep In Touch </h1>
<ul>
  <li> Email: lindsaymarilynkelly@gmail.com </li>
  <li> Github: <a href="www.github.com/lindsaymkelly">lindsaymkelly </a></li>
  <li> LinkedIn: <a href="www.linkedin.com/in/lindsaymkelly">lindsaymkelly </a></li>
  <li> Twitter: <a href="https://twitter.com/lindzlady">@lindzlady </a></li>
</ul>