<div class="container">
  <h1> My Projects </h1>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Run2Gether</span>
        </div>
        <div class="card-content">
          <p>A web app that allows users to schedule runs and find other runners based on experience, location, and availability. Utilizes Google Maps API, Ruby Geocoder Gem, and built with Rails, Javascript, jQuery, Materialize, and AJAX. Built by a four person team using Agile and git workflow.</p>
        </div>
        <div class="card-action">
          <a href="r2g.herokuapp.com">Deployed on Heroku</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">ProjectCEPTION</span>
        </div>
        <div class="card-content">
          <p>A voting tool designed to be used by students and faculty at DevBootcamp for Final Project pitching, voting, ranking, and team formation. Built with Ruby on Rails. Led a four person team utilizing Agile and git workflow.</p>
        </div>
        <div class="card-action">
          <a href="projectception.herokuapp.com">Deployed on Heroku</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Safety Pin</span>
        </div>
        <div class="card-content">
          <p>A web app built to connect allies and those in need within a geographic region. Built using the Google Maps API, Ruby On Rails, AJAX, HTML, and CSS. Led a three person team
          observing Agile and git workflow. Built as part of a one day hackathon.</p>
        </div>
        <div class="card-action">
          <a href="safety-pin-app.herokuapp.com">Deployed on Heroku</a>
        </div>
      </div>
    </div>
  </div>
</div>